<h1>ユーザ登録画面</h1>

<%= render "form" %>

<%= form_tag action: :create do %>
<p><%= label_tag :uid, 'ユーザID : ' %>
<%= text_field_tag :uid %></p>
<p><%= label_tag :pass, 'パスワード : ' %>
<%= text_field_tag :pass %></p>
<p><%= label_tag :age, '年齢 : ' %>
<%= password_field_tag :age %></p>
<%= submit_tag '登録' %>
<% end %>

<p>
    <%= link_to '戻る', :back %>
</p>





