<%= form_tag '/top/login', method: :post do %>
    <p>
        <%= label_tag :uid, 'ユーザーID' %>
        <%= text_field_tag :uid %>
    </p>
    <p>
        <%= label_tag :pass, 'パスワード' %>
        <%= password_field_tag :pass %>
    </p>
    <p>
        <%= submit_tag 'ログイン' %>
    </p>
    <p>
        <%= link_to 'ユーザー登録','/users/new' %>
    </p>
<% end %>